@model AspNetCoreMVC2.introduction.Models.employeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazorDemo</title>
</head>
<body>
    <p>
       <a asp-action="Create"> </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CıtyId</th>

                <th>Name</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.CityId
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>

            }



        </tbody>
    </table>
    @{var time = DateTime.Now - TimeSpan.FromDays(3);}
    <p> 3 days ago @time</p>

    FOR
    @for (int i = 0; i < Model.Employees.Count; i++)
    {

        <br />
        <b>
            @Model.Employees[i].Name;
        </b>


    }

    WHİLE
    @{ var counter = 0;}
    @while (counter < Model.Employees.Count)
    {
        <br />
        <b>
            @Model.Employees[counter].Name;
        </b>
        counter++;
    }

    @try
    {

    }
    catch (Exception)
    {

        throw;
    }
    finally
    {
        
    }

    @using (Html.BeginForm())//Performans toplamak için işi bitince siliyoruz
    {
        //genelde input oluşturup bilgilerini verip
        <input type="text" name="name" value="" />
        <button></button>
    }
</body>
</html>
